html {
  height: 100%;
}

body {
  --padding: 4px;
  --cell-size: 65px;
  --border-size: 2px;
  --border-radius: 4px;
  --key-size: 50px;
  --cell-font-size: 1.5rem;
  --key-font-size: 1rem;

  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Questrial", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.row {
  padding: calc(var(--padding) / 2) var(--padding);
  display: flex;
  flex-direction: row;
}

.row:first-of-type {
  padding-top: var(--padding);
}

.row:last-of-type {
  padding-bottom: var(--padding);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: var(--border-size) solid #cecece;
  border-radius: var(--border-radius);
  margin: calc(var(--padding) / 2) var(--padding);
  font-size: var(--cell-font-size);

  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:first-of-type {
  margin-left: calc(var(--padding) / 2);
}

.cell:last-of-type {
  margin-right: calc(var(--padding) / 2);
}

@keyframes type-animation {
  0% {
    border-color: #000;
    transform: scale(1.15);
  }
  100% {
    border-color: #cecece;
    transform: scale(1);
  }
}

.type-animation {
  animation: type-animation 0.25s ease;
}

@keyframes flip-animation {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.wrong_place_wrong_letter {
  background-color: #787c7e;
  color: #fff;
  animation: flip-animation 0.5s;
  border: none;
}

.wrong_place_correct_letter {
  background-color: #c9b458;
  color: #fff;
  animation: flip-animation 0.5s ease;
  border: none;
}

.correct_place_correct_letter {
  background-color: #6aaa64;
  color: #fff;
  animation: flip-animation 0.5s ease;
  border: none;
}

@keyframes dance-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.finished_word {
  animation: dance-animation 0.5s;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
}

.key-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.key {
  width: var(--key-size);
  height: var(--key-size);
  background-color: #cecece;
  border-radius: var(--border-radius);
  margin: var(--padding);
  font-size: var(--key-font-size);
  font-weight: bold;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.enter,
.backspace {
  width: fit-content;
  padding: 10px;
}

.key:hover {
  filter: brightness(0.8);
}

/* colors */
.grey {
  background-color: #787c7e;
  color: #fff;
}

.yellow {
  background-color: #c9b458;
  color: #fff;
}

.green {
  background-color: #6aaa64;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .grid {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .row {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .cell {
    --cell-size: calc(100vw / 5 - var(--padding) * 2.5);
  }

  .key {
    margin: calc(var(--padding) / 2);
    height: 60px;
  }
}

.alert {
  position: absolute;
  top: 20vh;
  background-color: rgba(0, 0, 0, 60%);
  font-size: 1.5rem;
  border-radius: calc(var(--border-radius) * 2);
  padding: 1rem;
  color: white;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
